@page "/Upload"
@using System.Security.Cryptography.X509Certificates
@using System.Text.Encodings.Web
@using Google.Apis.Auth.OAuth2
@using Google.Apis.Services
@using System.Dynamic
@using Blazored.LocalStorage
@using StoryForce.Shared.ViewModels
@inject HttpClient Http
@inject IJSRuntime JS

<div class="row">
    <h5 class="breadcrumbs-title">
        Please use the form below to submit your files
    </h5>
</div>
<div class="row">
    <EditForm Model="Submission" class="col s12" OnValidSubmit="@HandleSubmission">
        <ObjectGraphDataAnnotationsValidator />
        <ValidationSummary />

        <div class="col s12 m12 l12">
            <div class="card card-default scrollspy">
                <div class="card-content">
                    <h4 class="card-title">
                        Submitter Information
                    </h4>
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <InputText class="validate" @bind-Value="Submission.SubmittedBy.Name" placeholder="Name" />
                        </div>
                        <div class="input-field col s12 m6">
                            <InputText type="email" class="validate" @bind-Value="Submission.SubmittedBy.Email" placeholder="Email" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m12 l12">
            <div class="card card-default scrollspy">
                <div class="card-content">
                    <h4 class="card-title">
                        Please give your Submission a name and a description.
                    </h4>
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <InputText class="validate" @bind-Value="Submission.Title" placeholder="Title" />
                        </div>
                        <div class="input-field col s12 m6">
                            <InputText class="validate" @bind-Value="Submission.Description" placeholder="Description"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m12 l12">
            <div class="card card-default scrollspy">
                <div class="card-content">
                    <h4 class="card-title">
                        Choose the files to upload
                    </h4>
                    <div class="row">
                        <div class="file-field input-field">
                            <div class="btn">
                                <span>Files</span>
                                <InputFile multiple class="form-control-file" id="uploadFiles" OnChange="@OnFileInputChange" />
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="Upload one or more files">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col s12 m12 l12">
            <div class="card scrollspy">
                <div class="card-content">
                    <h4 class="card-title">
                        Upload files from Google Drive
                    </h4>
                    <div class="row">
                        <div class="file-field input-field">
                            <div class="btn" id="addGDriveFiles" @onclick="InitGooglePicker">
                                <span>Google Drive</span>
                                <input type="hidden" @bind-value="Submission.GDriveOAuthToken" id="Submission_GDriveOAuthToken" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m12 l12" id="previewFiles">
            @foreach (var file in Submission.UploadFiles)
            {
                <div class="col s12 m6 l3">
                    <div class="card">
                        <div class="card-image">
                            <a class="btn-floating mb-1 waves-effect waves-light remove-file" @onclick="@(() => RemoveFile(file))">
                                <i class="material-icons">clear</i>
                            </a>
                            @if (file.MimeType.StartsWith("image/"))
                            {
                                <img src="@file.PreviewUrl" class="img-preview">
                            }
                        </div>
                        <div class="card-content" data-children-count="1">
                            <span class="card-title font-weight-400">@file.Title</span>
                            <InputText @bind-Value="file.Description" class="validate" placeholder="Description"/>
                        </div>
                    </div>
                </div>
            }
        </div>


        <div class="col s12 m12 l12">
            <div class="card card-default scrollspy">
                <div class="card-content">
                    <h4 class="card-title">
                        Featured People
                    </h4>
                    @{
                        var index = 0;
                        foreach (var person in Submission.FeaturedPeople)
                        {
                            selectedPersonIndex = index;

                            <div class="row featured-person">
                                <div class="input-field col s12 m6">
                                    <InputText class="validate" @bind-Value="person.Name" placeholder="Name"/>
                                </div>
                                <div class="input-field col s12 m6">
                                    <InputNumber class="validate" @bind-Value="person.ClassOfYear" placeholder="Year of Class"/>
                                </div>
                            </div>

                            index++;
                        }
                    }
                    <div class="row">
                        <a class="btn waves-effect add-person" @onclick="@AddFeaturedPerson">Add Person</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m12 l12">
            <div class="card card-default scrollspy">
                <div class="card-content">
                    <h4 class="card-title">
                        Event Information
                    </h4>
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <InputText class="validate" @bind-Value="Submission.Event.Name" placeholder="Event Name" />
                            <label asp-for="Submission.Event.Name"></label>
                        </div>
                        <div class="input-field col s12 m6">
                            <InputDate class="datepicker" @bind-Value="Submission.Event.Date" placeholder="Event Date" />
                            <label asp-for="Submission.Event.Date"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <button class="btn cyan waves-effect waves-light right" type="submit" id="submit-button">
                    Submit <i class="material-icons right">send</i>
                </button>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <button class="btn cyan waves-effect waves-light right" type="reset">
                    Reset <i class="material-icons right">reset</i>
                </button>
            </div>
        </div>
    </EditForm>

    <!-- Modal -->

    <div id="modal1" class="modal @modalClass" style="display:@modalDisplay">
        <div class="modal-content">
            <h4>Upload Progress</h4>
            <div class="progress @modalProgressClass">
                <div class="indeterminate"></div>
            </div>
            <div class="success-message @successClass">Your files were uploaded successfully!</div>
        </div>
        <div class="modal-footer @modalFooterClass">
            <a class="modal-action modal-close waves-effect waves-green btn-flat" @onclick="@CloseModalWindow">Close</a>
        </div>
    </div>


    @if (showBackdrop)
    {
        <div class="modal-backdrop fade show"></div>
    }
</div>