@page "{id}"
@using StoryForce.Server.Services
@using StoryForce.Shared.Models
@using StoryForce.Server.Controllers
@model StoryForce.Server.Pages.Admin.Submission.DetailsModel

@{
    ViewData["Title"] = "Submission Details";
    ViewData["SideBar-Title"] = "Submissions";
    Layout = "~/Pages/Shared/_LayoutDetailSubmission.cshtml";
}
@inject ImageService ImageService

@section HeadScripts
{
    <link rel="stylesheet" type="text/css" href="~/materialize-admin/app-assets/css/pages/app-email-content.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
    <!--<link rel="stylesheet" href="/materialize-admin/app-assets/vendors/select2/select2.min.css" type="text/css">
    <link rel="stylesheet" href="/materialize-admin/app-assets/vendors/select2/select2-materialize.css" type="text/css">-->
    <!-- END: VENDOR CSS-->
    <!-- BEGIN: Page Level CSS-->
    <!--<link rel="stylesheet" type="text/css" href="/materialize-admin/app-assets/css/themes/vertical-modern-menu-template/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/materialize-admin/app-assets/css/themes/vertical-modern-menu-template/style.min.css">
    <link rel="stylesheet" type="text/css" href="/materialize-admin/app-assets/css/pages/form-select2.min.css">-->
    <!-- END: Page Level CSS-->
    <!-- BEGIN: Custom CSS-->
    <!--<link rel="stylesheet" type="text/css" href="/materialize-admin/app-assets/css/custom/custom.css">-->
    <!-- END: Custom CSS-->

    <link rel="stylesheet" type="text/css" href="/scss/Admin/Submission/SubmissionIndex.min.css">

}

<div class="app-email-content">
    <div class="content-area content-right">
        <div class="app-wrapper">
            <div class="app-search">
                @*<i class="material-icons mr-2 search-icon search-file-button">search</i>
                    <input type="text" placeholder="Search File" class="app-filter input-search-value" id="email_filter">*@
            </div>
            <div class="card card-default scrollspy border-radius-6 fixed-width" style="margin-top:10%">
                <div class="card-content pt-0">
                    <div class="row">
                        <div class="col s12">
                            <!-- Email Header -->
                            <div class="email-header">
                                <div class="subject">
                                    <div class="back-to-mails">
                                        <a href="/Admin/"><i class="material-icons">arrow_back</i></a>
                                    </div>
                                    <div class="email-title">@Html.DisplayFor(model => Model.Submission.Title)</div>
                                </div>
                                <div class="header-action">
                                    <span class="badge grey lighten-2">
                                        <i class="amber-text material-icons small-icons mr-2">
                                            fiber_manual_record
                                        </i>7<sup>th</sup> Grade
                                    </span>
                                    <div class="favorite">
                                        <i class="material-icons">star_border</i>
                                    </div>
                                    <div class="email-label">
                                        <i class="material-icons">label_outline</i>
                                    </div>
                                </div>
                            </div>
                            <!-- Email Header Ends -->
                            <hr>
                            <!-- Email Content -->
                            <div class="email-content">
                                <div class="list-title-area">
                                    <div class="user-media">
                                        <img src="~/materialize-admin/app-assets/images/user/9.jpg" alt="" class="circle z-depth-2 responsive-img avtar">
                                        <div class="list-title">
                                            <span class="name">@Model.Submission.SubmittedBy.Name</span>
                                        </div>
                                    </div>
                                    <div class="title-right">
                                        <span class="mail-time">@Model.Submission.CreatedAtShortString</span>
                                        <i class="material-icons">reply</i>
                                        <i class="material-icons">more_vert</i>
                                    </div>
                                </div>
                                <div class="email-desc">
                                    @Html.DisplayFor(model => Model.Submission.Description)
                                </div>
                            </div>
                            <!-- Email Content Ends -->
                            <hr>

                            <!-- Email Footer -->
                            <div class="email-footer">
                                <div>
                                    <h6 class="footer-title"> (@Model.Submission.SubmittedFiles.Count)</h6>
                                    <div class="footer-buttons" style="text-align: right">
                                        <form asp-page-handler="delete" asp-route-id="@Model.Submission.Id" method="post" class="d-inline">
                                            <button class="btn delete mb-1"><i class="material-icons left">delete</i><span>Delete</span></button>
                                        </form>
                                        @*<a class="waves-effect waves-light green btn modal-trigger mb-1" href=""><i class="material-icons left">email</i><span>Send</span></a>*@
                                        <button class="btn waves-effect waves-light green mb-1" id="goToAssignment">
                                            Send
                                            <i class="material-icons left">email</i>
                                        </button>
                                    </div>
                                    <div class="row note-group">
                                        <div class="col s10" style="width: 40%">
                                            <textarea type="text" placeholder=" Input Note for group" class="new-note-group-input" style="border: none; border-bottom: 1px solid"></textarea>
                                        </div>
                                        <div class="col s2" style="width:19%">
                                            <button class="btn-small edit mb-1 teal lighten-2 new-note-group-button" data-submission-id="@Model.Submission.Id" style="width: 40%">
                                                <i class="material-icons left" style="margin-left: -40%; width:0%">save</i><span style="margin-left: 30%">Save</span>
                                            </button>
                                        </div>
                                        @foreach (var note in Model.Submission.Notes)
                                        {
                                            <div class="row note-item-group mt-1" style="width:50%">
                                                <div class="col s7 note-text" style="width:65%; margin-left:1%">@note.Text</div>
                                                <div class="col s7 note-input" style="display: none; width:66%">
                                                    @*<input type="text" placeholder="Note" value="@item.Text" />*@
                                                    <textarea style="border: none; border-bottom: 1px solid">@note.Text</textarea>
                                                </div>
                                                <div class="col s2">
                                                    <button class="btn-small edit mb-1 teal lighten-2 edit-note-button" data-note-id="@note.Id" data-Story-Id="@note." style="width:100%">
                                                        <i class="material-icons left" style="width: 0px; margin-left: -45%">edit</i>
                                                        <span style=" margin-right: -40%">Edit</span>
                                                    </button>
                                                </div>

                                                <div class="col s2" style="text-align: end">
                                                    <button class="btn-small mb-1 delete-note-button" data-note-id="@note.Id" style="width:100%">
                                                        <i class="material-icons left" style="width: 0px; margin-left: -45%">delete</i>
                                                        <span style=" margin-right: -40%">Delete</span>
                                                    </button>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>

                                <div class="footer-action">
                                    <div class="attachment-list" style="flex-direction: column; width:50%">
                                        @{
                                            int row = 1;
                                            @foreach (var file in Model.Submission.SubmittedFiles)
                                            {
                                                <div class="attachment">
                                                    <div class="title-right" style="margin-right:-295%">
                                                        <span class="badge grey lighten-3">
                                                            <i class="purple-text material-icons small-icons mr-2">
                                                                fiber_manual_record
                                                            </i>
                                                        </span>
                                                        <span>@file.Status</span>
                                                    </div>
                                                    <div class="favorite">
                                                        <i title="@(file.FavouritesPeople.Count > 0 && file.FavouritesPeople.Any(m=>m.Id == Model.UserIden.Id) ? "Remove to list favorites" : "Add to list favorites")" id="i-favorite" style="cursor:pointer" class="material-icons button-favorite @(file.FavouritesPeople.Any(m=>m.Id == Model.UserIden.Id) && file.FavouritesPeople.Count > 0 ? "amber-text" : "")" data-file-id="@file.Id">star_border</i>
                                                    </div>
                                                    @if (file.Type.StartsWith("image/"))
                                                    {
                                                        <img src="@file.GetResizedImageUrl(200, 200)" alt="@file.Title" class="responsive-img attached-image">
                                                    }
                                                    <div class="title" style="font-size:25px">@file.Title</div>
                                                    <div class="description">@file.Description</div>
                                                    <div class="size">
                                                        @if (file.Size > 0)
                                                        {
                                                            <span class="grey-text">(@file.SizeText)</span>
                                                        }
                                                    </div>
                                                    <div class="links text-center" style="margin-left: 97%;">
                                                        <a href="@ImageService.GetPreSignedUrl(file.Key)" class="right" target="_blank">
                                                            <i class="material-icons">file_download</i>
                                                        </a>
                                                    </div>
                                                    <div class="note" style="width:100%">
                                                        <div class="row new-note">
                                                            <div class="col s10" style="width: 80%">
                                                                <textarea type="text" placeholder=" Input Note" class="new-note-input" style="border: none; border-bottom: 1px solid"></textarea>
                                                            </div>
                                                            <div class="col s2" style="width:19%">
                                                                <button class="btn-small edit mb-2 teal lighten-2 new-note-button" data-file-id="@file.Id" style="width: 90%">
                                                                    <i class="material-icons left" style="margin-left: -40%; width:0%">save</i><span style="margin-left: 30%">Save</span>
                                                                </button>
                                                                @if (file.Notes != null && file.Notes.Count > 0)
                                                                {
                                                                    <a class="btn-small mb-1 orange lighten-2 history-Note modal-trigger" href="#history-Note-@file.Id" style="width: 90%; margin-bottom: 10px;">
                                                                        <i class="material-icons left" style="margin-left: -40%; width:0%">history</i><span style="margin-left: 30%">History</span>
                                                                    </a>
                                                                }
                                                            </div>
                                                        </div>
                                                        <br />
                                                        @if (file.Notes != null)
                                                        {
                                                            <p style="text-align: center"><i>Notes:</i></p>
                                                            foreach (var item in file.Notes)
                                                            {
                                                                <div class="row note-item mt-2">
                                                                    <div class="col s7 note-text" style="width:65%">@item.Text</div>
                                                                    <div class="col s7 note-input" style="display: none; width:66%">
                                                                        @*<input type="text" placeholder="Note" value="@item.Text" />*@
                                                                        <textarea style="border: none; border-bottom: 1px solid">@item.Text</textarea>
                                                                    </div>
                                                                    <div class="col s2">
                                                                        <button class="btn-small edit mb-1 teal lighten-2 edit-note-group-button" data-note-id="@item.Id" data-submittedfile-id="@file.Id" style="width:100%">
                                                                            <i class="material-icons left" style="width: 0px; margin-left: -45%">edit</i>
                                                                            <span style=" margin-right: -40%">Edit</span>
                                                                        </button>
                                                                    </div>

                                                                    <div class="col s2" style="text-align: end">
                                                                        <button class="btn-small mb-1 delete-note-button" data-note-id="@item.Id" data-submittedfile-id="@file.Id" style="width:100%">
                                                                            <i class="material-icons left" style="width: 0px; margin-left: -45%">delete</i>
                                                                            <span style=" margin-right: -40%">Delete</span>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                    </div>
                                                    @*Tags*@
                                                    <p class="mt-5" style="margin-left:-91%"><i>Add Tags</i></p>
                                                    <div id="div_tags_type row" style=" width: 40%; margin-left: -60%">
                                                        <select class="show tagstype">
                                                            <option value="">Select type tags</option>
                                                            <option value="brandtags">Brand tags</option>
                                                            <option value="processtags">Process tags</option>
                                                        </select>
                                                    </div>
                                                    <div id="div_brand_tags" class="new-tags-brand" style="display: none; width: 99%">
                                                        <div class="row" id="brand_tags">
                                                            <div class="input-field col s12">
                                                                <textarea type="text" id="autocomplete-input-brand" class="autocomplete_brand" style=" margin-left: -1%; border:none; border-bottom: 1px solid"></textarea>
                                                                <label for="autocomplete-input">Input tags type brand</label>
                                                            </div>
                                                        </div>
                                                        <div style="text-align:right">
                                                            <button class="btn-small edit mb-1 teal lighten-2 new-tags-button" data-file-id="@file.Id" style="width:14%; margin-right: 2%;"><i class="material-icons left" style="margin-left: -40%">save</i><span style="margin-left: -25%">Save</span></button>
                                                        </div>
                                                    </div>
                                                    <div id="div_process_tags" class="new-tags-process" style="display:none; width: 95%;">
                                                        <div class="row" id="process_tags">
                                                            <div class="input-field">
                                                                <textarea type="text" id="autocomplete-input-process" class="autocomplete_process" style=" margin-left: -1%; border:none; border-bottom: 1px solid"></textarea>
                                                                <label for="autocomplete-input">Input tags type process</label>
                                                            </div>
                                                        </div>
                                                        <textarea type="text" placeholder="Note tags process" class="new-note-process" style="margin-left: -3%; width: 103%; border:none; border-bottom: 1px solid"></textarea>
                                                        @*<select id="process_tags" class="value_tags">
                                                                <option value="">Select Tags</option>
                                                                <option value="Pending">Pending</option>
                                                                <option value="InternalUseOnly-NotForPublicView">Internal use only - Not for public view</option>
                                                                <option value="PotentialForNewsletterMedia">Potential for newsletter, media</option>
                                                                <option value="InEditingProcess">In editing process</option>
                                                                <option value="EditedForMediaUse">Edited for Media Use</option>
                                                                <option value="UsedInMedia">Used in Media</option>
                                                                <option value="NewTags">New tags</option>
                                                            </select>*@
                                                        <div style="text-align:right">
                                                            <button class="btn-small edit mb-1 teal lighten-2 new-tags-button" data-file-id="@file.Id" style="width:15%">
                                                                <i class="material-icons left" style="width: 0px; margin-left: -42%">save</i>
                                                                <span>Save Tags</span>
                                                            </button>
                                                            @*<button class="btn-small edit mb-1 teal lighten-2 add-process-tags-button" data-file-id="@file.Id" style=" width: 21%;">
                                                                    <i class="material-icons left" style="width: 0px; margin-left: -30%">add</i>
                                                                    <span>Add Note</span>
                                                                </button>*@
                                                        </div>
                                                    </div>
                                                    @*<div class="note-tag-process" style="display:none; text-align: right; width:98%; margin-left:-1%">
                                                            <input type="text" placeholder="Note tags process" class="new-note-process" />
                                                            <button class="btn-small edit teal lighten-2 new-note-process-button" data-file-id="@file.Id"><i class="material-icons left">save</i><span>Save Note</span></button>
                                                            <button class="btn-small waves-effect waves-light close-tags-process-button"><i class="material-icons left">close</i><span>Close</span></button>
                                                        </div>*@
                                                    @if (file.Tags != null)
                                                    {
                                                        <p><i>Tags:</i></p>
                                                        foreach (var tag in file.Tags)
                                                        {
                                                            <div class="row tags-item mt-2" style="width:100%">
                                                                <div class="col s7 tags-text" style="width:65%; margin-left:-2%">@tag.Name</div>
                                                                <div class="col s7 tags-name" style="display: none; width:66%; margin-left:-2%">
                                                                    <textarea style="border: none; border-bottom: 1px solid">@tag.Name</textarea>
                                                                </div>
                                                                <div class="col s2" style=" margin-left: 0%;">
                                                                    <button class="btn-small edit mb-1 teal lighten-2 edit-tags-button" data-tag-id="@tag.Id" style="width:100%; margin-right:-20%">
                                                                        <i class="material-icons left" style="width: 0px; margin-left: -45%">edit</i>
                                                                        <span style=" margin-right: -40%">Edit</span>
                                                                    </button>
                                                                </div>
                                                                <div class="col s2" style=" width: 18%; margin-left: 1%">
                                                                    <button class="btn-small mb-1 delete-tags-button" data-tag-id="@tag.Id" style="width:100%">
                                                                        <i class="material-icons left" style="width: 0px; margin-left: -45%">delete</i>
                                                                        <span style=" margin-right: -40%">Delete</span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                    @*Add Categories*@
                                                    @if (file.Status == ApprovalStatusEnum.New)
                                                    {
                                                        <p class="mt-5" style="margin-left:-86%">Add Category</p>
                                                        <div class="categories" style="width:100%">
                                                            <div class="row new-categories">
                                                                <div class="col s10" style="width: 80%">
                                                                    <textarea type="text" placeholder=" Input Category" class="new-categories-input" style="border: none; border-bottom: 1px solid"></textarea>
                                                                </div>
                                                                <div class="col s2" style="width:19%">
                                                                    <button class="btn-small edit mb-1 teal lighten-2 new-categories-button" data-file-id="@file.Id" style="width: 90%">
                                                                        <i class="material-icons left" style="margin-left: -40%; width:0%">save</i><span style="margin-left: 30%">Save</span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                                <a class="btn-small edit mb-1 teal lighten-2 edit-note-group-button" data-note-id="@file.Id" href="/storyFile/@file.Id" style="width:21%; margin-left:180%">
                                                    <i class="material-icons left" style="width: 0px; margin-left: -18%">edit</i>
                                                    <span style=" margin-right: -15%">Edit StoryFile</span>
                                                </a>
                                                row++;
                                                <hr style="width:1550px; margin-top:5%" />
                                            }
                                        }
                                    </div>

                                </div>
                                <div class="reply-box d-none">
                                    <form action="#">
                                        <div class="input-field col s12">
                                            <div class="snow-container mt-2">
                                                <div class="compose-editor ql-container ql-snow"><div class="ql-editor ql-blank" data-gramm="false" contenteditable="true" data-placeholder="Reply Here"><p><br></p></div><div class="ql-clipboard" contenteditable="true" tabindex="-1"></div><div class="ql-tooltip ql-hidden"><a class="ql-preview" target="_blank" href="about:blank"></a><input type="text" data-formula="e=mc^2" data-link="https://quilljs.com" data-video="Embed URL"><a class="ql-action"></a><a class="ql-remove"></a></div></div>
                                                <div class="compose-quill-toolbar ql-toolbar ql-snow">
                                                    <span class="ql-formats mr-0">
                                                        <button class="ql-bold" type="button"><svg viewBox="0 0 18 18"> <path class="ql-stroke" d="M5,4H9.5A2.5,2.5,0,0,1,12,6.5v0A2.5,2.5,0,0,1,9.5,9H5A0,0,0,0,1,5,9V4A0,0,0,0,1,5,4Z"></path> <path class="ql-stroke" d="M5,9h5.5A2.5,2.5,0,0,1,13,11.5v0A2.5,2.5,0,0,1,10.5,14H5a0,0,0,0,1,0,0V9A0,0,0,0,1,5,9Z"></path> </svg></button>
                                                        <button class="ql-italic" type="button"><svg viewBox="0 0 18 18"> <line class="ql-stroke" x1="7" x2="13" y1="4" y2="4"></line> <line class="ql-stroke" x1="5" x2="11" y1="14" y2="14"></line> <line class="ql-stroke" x1="8" x2="10" y1="14" y2="4"></line> </svg></button>
                                                        <button class="ql-underline" type="button"><svg viewBox="0 0 18 18"> <path class="ql-stroke" d="M5,3V9a4.012,4.012,0,0,0,4,4H9a4.012,4.012,0,0,0,4-4V3"></path> <rect class="ql-fill" height="1" rx="0.5" ry="0.5" width="12" x="3" y="15"></rect> </svg></button>
                                                        <button class="ql-link" type="button"><svg viewBox="0 0 18 18"> <line class="ql-stroke" x1="7" x2="11" y1="7" y2="11"></line> <path class="ql-even ql-stroke" d="M8.9,4.577a3.476,3.476,0,0,1,.36,4.679A3.476,3.476,0,0,1,4.577,8.9C3.185,7.5,2.035,6.4,4.217,4.217S7.5,3.185,8.9,4.577Z"></path> <path class="ql-even ql-stroke" d="M13.423,9.1a3.476,3.476,0,0,0-4.679-.36,3.476,3.476,0,0,0,.36,4.679c1.392,1.392,2.5,2.542,4.679.36S14.815,10.5,13.423,9.1Z"></path> </svg></button>
                                                        <button class="ql-image" type="button"><svg viewBox="0 0 18 18"> <rect class="ql-stroke" height="10" width="12" x="3" y="4"></rect> <circle class="ql-fill" cx="6" cy="7" r="1"></circle> <polyline class="ql-even ql-fill" points="5 12 5 11 7 9 8 10 11 7 13 9 13 12 5 12"></polyline> </svg></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-field col s12">
                                            <a class="btn reply-btn right">Reply</a>
                                        </div>
                                    </form>
                                </div>
                                <div class="forward-box d-none">
                                    <hr>
                                    <form action="#">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix"> person_outline </i>
                                            <input id="email" type="email" class="validate">
                                            <label for="email">To</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix"> title </i>
                                            <input id="subject" type="text" class="validate">
                                            <label for="subject">Subject</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <div class="snow-container mt-2">
                                                <div class="forward-email ql-container ql-snow"><div class="ql-editor ql-blank" data-gramm="false" contenteditable="true" data-placeholder="Your Message"><p><br></p></div><div class="ql-clipboard" contenteditable="true" tabindex="-1"></div><div class="ql-tooltip ql-hidden"><a class="ql-preview" target="_blank" href="about:blank"></a><input type="text" data-formula="e=mc^2" data-link="https://quilljs.com" data-video="Embed URL"><a class="ql-action"></a><a class="ql-remove"></a></div></div>
                                                <div class="forward-email-toolbar ql-toolbar ql-snow">
                                                    <span class="ql-formats mr-0">
                                                        <button class="ql-bold" type="button"><svg viewBox="0 0 18 18"> <path class="ql-stroke" d="M5,4H9.5A2.5,2.5,0,0,1,12,6.5v0A2.5,2.5,0,0,1,9.5,9H5A0,0,0,0,1,5,9V4A0,0,0,0,1,5,4Z"></path> <path class="ql-stroke" d="M5,9h5.5A2.5,2.5,0,0,1,13,11.5v0A2.5,2.5,0,0,1,10.5,14H5a0,0,0,0,1,0,0V9A0,0,0,0,1,5,9Z"></path> </svg></button>
                                                        <button class="ql-italic" type="button"><svg viewBox="0 0 18 18"> <line class="ql-stroke" x1="7" x2="13" y1="4" y2="4"></line> <line class="ql-stroke" x1="5" x2="11" y1="14" y2="14"></line> <line class="ql-stroke" x1="8" x2="10" y1="14" y2="4"></line> </svg></button>
                                                        <button class="ql-underline" type="button"><svg viewBox="0 0 18 18"> <path class="ql-stroke" d="M5,3V9a4.012,4.012,0,0,0,4,4H9a4.012,4.012,0,0,0,4-4V3"></path> <rect class="ql-fill" height="1" rx="0.5" ry="0.5" width="12" x="3" y="15"></rect> </svg></button>
                                                        <button class="ql-link" type="button"><svg viewBox="0 0 18 18"> <line class="ql-stroke" x1="7" x2="11" y1="7" y2="11"></line> <path class="ql-even ql-stroke" d="M8.9,4.577a3.476,3.476,0,0,1,.36,4.679A3.476,3.476,0,0,1,4.577,8.9C3.185,7.5,2.035,6.4,4.217,4.217S7.5,3.185,8.9,4.577Z"></path> <path class="ql-even ql-stroke" d="M13.423,9.1a3.476,3.476,0,0,0-4.679-.36,3.476,3.476,0,0,0,.36,4.679c1.392,1.392,2.5,2.542,4.679.36S14.815,10.5,13.423,9.1Z"></path> </svg></button>
                                                        <button class="ql-image" type="button"><svg viewBox="0 0 18 18"> <rect class="ql-stroke" height="10" width="12" x="3" y="4"></rect> <circle class="ql-fill" cx="6" cy="7" r="1"></circle> <polyline class="ql-even ql-fill" points="5 12 5 11 7 9 8 10 11 7 13 9 13 12 5 12"></polyline> </svg></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-field col s12">
                                            <a class="btn forward-btn right">Forward</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- Email Footer Ends -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@foreach (var file in Model.Submission.SubmittedFiles)
{
    @if (file.Notes != null)
    {
        <div id="history-Note-@file.Id" class="modal modal-fixed-footer">
            <div class="modal-content">
                <h4>History of Note</h4>

                <ul class="collection with-header">
                    @{
                        var noteLog = Newtonsoft.Json.JsonConvert.DeserializeObject<StoryLogHistory>(!string.IsNullOrEmpty(file.StoryHistoryLog) ? file.StoryHistoryLog : string.Empty);
                        if (noteLog != null && noteLog.lstNoteLogHistory.Count > 0)
                        {
                            foreach (var item in noteLog.lstNoteLogHistory)
                            {
                                switch (item.Action)
                                {
                                    case NoteLogAction.Create:
                                        <li class="collection-item">
                                            <div>@item.CreatedDate.ToString("MM/dd/yyyy hh:mm tt")</div>
                                            <span>@item.UserName added new Note: @item.NoteContent</span>
                                        </li>
                                        break;
                                    case NoteLogAction.Update:
                                        <li class="collection-item">
                                            <div>@item.CreatedDate.ToString("MM/dd/yyyy hh:mm tt")</div>
                                            <span>@item.UserName updated Note: @item.OldNoteContent to @item.NoteContent</span>
                                        </li>
                                        break;
                                    case NoteLogAction.Delete:
                                        <li class="collection-item">
                                            <div>@item.CreatedDate.ToString("MM/dd/yyyy hh:mm tt")</div>
                                            <span>@item.UserName deleted Note: @item.NoteContent</span>
                                        </li>
                                        break;
                                    default:
                                        break;
                                }
                            }
                        }
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect red lighten-5 btn-flat ">Close</a>
            </div>
        </div>
    }

}
<!-- Modal Structure -->


@section FooterScripts{
    @*<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
    @*<script src="/materialize-admin/app-assets/vendors/select2/select2.full.min.js"></script>
        <script src="/materialize-admin/app-assets/js/custom/custom-script.min.js"></script>
        <script src="/materialize-admin/app-assets/js/scripts/customizer.min.js"></script>
        <script src="/materialize-admin/app-assets/js/scripts/form-select2.min.js"></script>*@
    <script src="/js/Admin/Submission/index-Submission.js"></script>

    <script>

        $(document).ready(function () {

            //------Note------
            $(".attachment-list").on("click", ".edit-note-button", function () {
                console.log("note-id", $(this).data("note-id"));
                var mode = $(this).find('i').text();
                if (mode === 'save') {
                    $.ajax({
                        url: '/api/note/' + $(this).data("note-id"),
                        type: 'PUT',
                        contentType: "application/json",
                        data: JSON.stringify({
                        text: $(this).parents('.note-item').find('.note-input textarea').val(),
                        id: $(this).data("note-id"),
                        submittedFileId: $(this).data("submittedfile-id"),
                        })
                    }).then(function (res) {
                            window.location.reload();
                        });
                    }
                    else {
                    $(this).find('i').text('save');
                    $(this).find('span').text('Save');
                    $(this).parents('.note-item').find('.note-text').hide();
                    $(this).parents('.note-item').find('.note-input').show();
                    }

                });

            $(".note-group").on("click", ".edit-note-button", function () {

                    var mode = $(this).find('i').text();
                    if (mode === 'save') {
                    $.ajax({
                        url: '/api/note/' + $(this).data("note-id"),
                        type: 'PUT',
                        contentType: "application/json",
                        data: JSON.stringify({
                            text: $(this).parents('.note-item-group').find('.note-input textarea').val(),
                            id: $(this).data("note-id")
                        })
                    }).then(function (res) {
                            window.location.reload();
                        });
                    }
                    else {
                    $(this).find('i').text('save');
                    $(this).find('span').text('Save');
                    $(this).parents('.note-item-group').find('.note-text').hide();
                    $(this).parents('.note-item-group').find('.note-input').show();
                }

            });

            $(".attachment-list").on("click", ".new-note-button", function () {
                var newNoteText = $(this).parents('.new-note').find('.new-note-input').val();
                $.ajax({
                    url: '/api/note',
                    type: 'POST',
                    contentType: "application/json",
                    data: JSON.stringify({
                        text: newNoteText,
                        username: '@User?.Identity?.Name',
                        storyFileId: $(this).data("file-id")
                    })
                }).then(function (res) {
                    window.location.reload();
                });

            });

            $(".email-footer").on("click", ".new-note-group-button", function () {
                                    var newNoteText = $(this).parents('.note-group').find('.new-note-group-input').val();
                                    var submissionId = $(this).data("submission-id");
                $.ajax({
                                        url: '/api/note',
                    type: 'POST',
                    contentType: "application/json",
                    data: JSON.stringify({
                                            text: newNoteText,
                        username: '@User?.Identity?.Name',
                        storyFileId: $(this).data("file-id"),
                        SubmissionId: submissionId
                    })
                }).then(function (res) {
                                        window.location.reload();
                                    });

                                });

            $(".attachment-list").on("click", ".delete-note-button", function () {
                                    Swal.fire({
                                        title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Ok'
                                    }).then((result) => {
                if (result.isConfirmed) {
                        $.ajax({
                        url: '/api/note/' + $(this).data("note-id") + '?submittedFileId=' + $(this).data("submittedfile-id"),
                            type: 'DELETE'
                        }).then(function (res) {
                                        Swal.fire(
                                            'Deleted!',
                                            "The note was deleted",
                                            'success'
                                        ).then(function() {
                                            window.location.reload();
                                        });

                                    });

                                }
                            });


                        });

            $(".note-group").on("click", ".delete-note-button", function () {
                            Swal.fire({
                                title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Ok'
                            }).then((result) => {
                if (result.isConfirmed) {
                        $.ajax({
                        url: '/api/note/' + $(this).data("note-id") ,
                            type: 'DELETE'
                        }).then(function (res) {
                                Swal.fire(
                                    'Deleted!',
                                    "The note was deleted",
                                    'success'
                                ).then(function () {
                                    window.location.reload();
                                });

                            });

                        }
                });


            });

            //------Tags------

            $(".tagstype").change(function () {
                            let select = $(this).find("option:selected").val();
                            if (select == "brandtags") {
                    $(this).parents(".attachment").find('.new-tags-brand').css("display", "block");
                    $(this).parents(".attachment").find('.new-tags-process').css("display", "none");
                            }
                            else if (select == "processtags") {
                    $(this).parents(".attachment").find('.new-tags-brand').css("display", "none");
                    $(this).parents(".attachment").find('.new-tags-process').css("display", "block");
                    $(this).parents(".attachment").find('.note-tag-process').css("display", "block");
                            }
                            else if (select == "") {
                    $(this).parents(".attachment").find('.new-tags-brand').css("display", "none");
                    $(this).parents(".attachment").find('.new-tags-process').css("display", "none");
                    $(this).parents(".attachment").find('.note-tag-process').css("display", "none");
                            }
                        })

            $('textarea.autocomplete_brand').autocomplete({
                            data: {
                                "Confident Leader (Outcome)": null,
                    "Joyful Learner (Outcome)": null,
                    "Global Citizen (Outcome)": null,
                    "Curriculum (Process)": null,
                    "Culture (Process)": null,
                    "Character (Process)": null
                            },
            });

            $('textarea.autocomplete_process').autocomplete({
                            data: {
                                "Pending": null,
                    "Internal use only - Not for public view": null,
                    "Potential for newsletter, media": null,
                    "In editing process": null,
                    "Edited for Media Use": null,
                    "Used in Media": null
                            },
            });

            $(".attachment-list").on("click", ".new-tags-button", function () {
            var newTagsText = "";
            var newTagsBrand = $(this).parents('.new-tags-brand').find('.autocomplete_brand').val();
            var newTagsProcess = $(this).parents('.new-tags-process').find('.autocomplete_process').val();
            if (newTagsBrand) {
                newTagsText = newTagsBrand;
            }
            if (newTagsProcess) {
                newTagsText = newTagsProcess;
            }
            var newNoteText = $(this).parents('.new-tags-process').find('.new-note-process').val();
            var id = $(this).data("file-id");
                $.ajax({
                    url: '/api/tag',
                    type: 'POST',
                    contentType: "application/json",
                    data: JSON.stringify({
                        name: newTagsText,
                        storyFileId: $(this).data("file-id")
                    })
                }).then(function (res) {
                                if (newNoteText) {
                        $.ajax({
                            url: '/api/note',
                            type: 'POST',
                            contentType: "application/json",
                            data: JSON.stringify({
                                text: newNoteText,
                                username: '@User?.Identity?.Name',
                                storyFileId: id
                            })
                        }).then(function (res) {
                                        window.location.reload();
                                    });
                                }
                                window.location.reload();
                            });

                        });

            @*$(".attachment-list").on("click", ".new-note-process-button", function () {
            var newNoteText = $(this).parents('.note-tag-process').find('.new-note-process').val();
            $.ajax({
                url: '/api/note',
                type: 'POST',
                contentType: "application/json",
                data: JSON.stringify({
                    text: newNoteText,
                    username: '@User?.Identity?.Name',
                    storyFileId: $(this).data("file-id")
                })
            }).then(function (res) {
                window.location.reload();
            });

        });*@

            $(".attachment-list").on("click", ".close-tags-process-button", function () {
                $(this).parents(".attachment").find('.note-tag-process').css("display", "none");
                $(this).parents(".attachment").find('.new-tags-button').css("display", "block");
            });

            //$(".attachment-list").on("click", ".add-process-tags-button", function () {
            //    $(this).parents(".attachment").find('.note-tag-process').css("display", "block");
            //});

            $(".attachment-list").on("click", ".delete-tags-button", function () {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Ok'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: '/api/tag/' + $(this).data("tag-id"),
                            type: 'DELETE'
                        }).then(function (res) {
                            Swal.fire(
                                'Deleted!',
                                "The tag was deleted",
                                'success'
                            ).then(function () {
                                window.location.reload();
                            });

                        });

                    }
                });
            });

            $(".attachment-list").on("click", ".edit-tags-button", function () {
                console.log("note-id", $(this).data("tag-id"));
                var mode = $(this).find('i').text();
                if (mode === 'save') {
                    $.ajax({
                        url: '/api/tag/' + $(this).data("tag-id"),
                        type: 'PUT',
                        contentType: "application/json",
                        data: JSON.stringify({
                            name: $(this).parents('.tags-item').find('.tags-name textarea').val(),
                            id: $(this).data("tag-id")
                        })
                    }).then(function (res) {
                        window.location.reload();
                    });
                }
                else {
                    $(this).find('i').text('save');
                    $(this).find('span').text('Save');
                    $(this).parents('.tags-item').find('.tags-text').hide();
                    $(this).parents('.tags-item').find('.tags-name').show();
                }

            });

            $(".footer-action").on("click", ".button-favorite", function () {
                var id = $(this).data("file-id");

                if ($(this).hasClass("amber-text")) {
                    $(this).removeClass("amber-text");
                } else {
                    $(this).addClass("amber-text")
                }

                $.ajax({
                url: '/api/file/' + id +'/favorite',
                type: 'POST',
                contentType: "application/json",
                }).then(function (res) {

            });
            });
            //Category
            $(".attachment-list").on("click", ".new-categories-button", function () {               
                var newNoteText = $(this).parents('.new-categories').find('.new-categories-input').val();
                $.ajax({
                    url: '/api/category',
                    type: 'POST',
                    contentType: "application/json",
                    data: JSON.stringify({
                        name: newNoteText,
                        storyFileId: $(this).data("file-id")
                    })
                }).then(function (res) {
                    window.location.reload();
                });

            });
        });

    </script>

    <script>
        var indexSubmission = new indexSubmission();
        indexSubmission.initialize();
    </script>
}


